html {
    position: relative;
    min-height: 100vh;
}

/* .icons i{
    color: rgb(255, 255, 255);
 
} */

body{
    background-color: rgb(146, 146, 146);
    box-sizing: border-box;
}

.nav-text {
    color: rgb(255, 255, 255);
}

.nav-text p {
    margin-top: auto;
    margin-bottom: auto;
}

.borderBottom {
    border-bottom: 2px white solid;
    box-shadow:   0 6px 4px -4px rgba(0,0,0,0.7);
}

/*Navbar background*/
.bg-nav {
    background-color: rgb(44, 44, 44);
    margin-bottom: 3%;
}

/*Grid Elements*/
.container-fluid {
    margin-top: 2%;
    margin-bottom: 5%;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid2 {    
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.container-fluid3 {
    margin-top: 2%;
    margin-bottom: 5%;
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.container {   
    justify-content: space-between;    
    margin-left: 1%;
    margin-right: 1%;   
}

.row {
    justify-content: center;
   
}

.col-12 {    
    
    width: 100%;
    justify-content: center;   
}

.col-xl-12 {
    justify-content: center;
    
    width: 100%;    
}

.col-6 {   
    margin-bottom: 5%;    
    flex-basis: 48%;    
    
}

.col-xl-6 {
    margin-bottom: 5%;    
    flex-basis: 48%;    
     
}

.col-xl-6 p{
    font-size: larger;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
}

.col-6 p{
    font-size: larger;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
}

.col-xl-6 img{
    flex-basis: 100%;
    
}

.col-6 img{
    flex-basis: 100%;
    
}

/**/
.info {
    justify-content: space-between;
}

.rowInfo {   
    padding: 5px;
}

.lead{
font-size: 25px;
padding: 25px;
border-left: rgb(104, 104, 104) 2px solid;
}

.photo {
   box-shadow: 5px 5px 15px;
   width: 98%    
}

.jumbotron-fluid{
    justify-content: center;
    width: 100%;
    box-shadow: 5px 5px 15px;   
}

.d-block {
    max-height: 50%;
}

#lander {
    display: none;
}

#contact {
    display: none;
    margin-top: 4%;
}

#projects {
    display: none;
}

.other {
    display: none;
}

.list-group {
    width: 100%
}

.blueLink {
    color: blue;
}

.projectRedirect {
    width: 100%;
    box-shadow: 5px 5px 15px;
}

.proggy {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(146, 146, 146);    
}

.bgcolour {
    background-color: white;
}

h1 {
    font-size: 35px;
    padding: 25px;
}



.shadow {
    box-shadow: 50px 50px 100px;
    width: 100%;
}

.margin {
    margin-left: 2%;
}

.wideBwip {
    width: 100%;
    
}

.wideBwip i{
    color: aqua;
    
}

.wideBwip a{
    
    padding: 1%;
}



.list-group a, .list-group p{
    color: black;
}

.burger {
    display: none;  
}

.close {
    display: none;
}

.nav-margin {
    margin-bottom: 0%;
}

a:hover{
    text-decoration: none;
    color: white;
    
}

a p{
    color: white;
}

a i{
    color: black;
}

.burger a i {
    color: white;
}

.nav-btn-mob {
   border-radius: 2px;
   
   padding: 2%;
   
}

.photo p{
    text-align: center;
}

.photo {
    align-items: center;
}

.photo a{
    margin: 1%;
    padding: 2%;
    background-color: rgb(237, 237, 237);
    width: 50px;
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    border-radius: 20%;
    box-shadow: 1px 1px 5px 1px black;
}

.oddButton {
    background-color: rgb(77, 77, 77);
}

.mobileMenuNav {
    width: 100%;
}

.linkBox {
   width:inherit;
}

.titleRow {
    width: 100%;
    font-size: larger;
}

.bigJumbo {
    display: flex;
}

.projectPics {
    object-fit: contain;
    width: 600px;
    overflow: hidden;
    height: 600px;
}

footer {
    margin-top: 100px;
    height: 100px;
    background-color: rgb(44, 44, 44);
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 2px white solid;
}

/*Media Queries*/ 

@media screen and (max-width: 1290px) {
    

    .wideBwip a{
    
        padding: 2%;
    }

    .projectPics {
        width: 500px;
    }

    .nav{
        margin-bottom: 75px;
    }


}


@media screen and (max-width: 1200px) {
    

    .wideBwip a{
    
        padding: 2%;
    }

    .projectPics {
        width: 500px;
    }

    .lead{
        font-size: 20px;
    }

}

@media screen and (max-width: 1000px) {
    .navbar-expand {
        display: none;
    }

    .burger {
        display: block;
    }

    .close {
        display: block;
    }
    .col-xl-6 p{
        font-size: large;       
    }
    
    .col-6 p{
        font-size: large;        
    }

    .wideBwip a{
    
        padding: 3%;
    }

    .titleRow {
        width: 100%;
        font-size: large;
    }

    .projectPics {
        width: 400px;
        height: 400px;
    }

    .proggy {
        margin-bottom: 50px;
    }

    nav {
        margin-bottom: 50px;
    }

    .bigJumbo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .jumbotron {
        padding: 0%;
    }

    .lead {
        border: none;
        
    }

    h1{
        text-align: center;
        border-bottom: 2px solid black;
        font-size: 35px;
        padding:25px;
        
    }

}

@media screen and (max-width: 800px) {
    .textOff p {
        display: none;
    }

    .textOff {
        margin: 3%;
    }

    .projectPics {
        width: 300px;
    }

    .lead{
        font-size: 20px;
    }

    

}

@media screen and (max-width: 600px) {
    .navbar-expand {
        display: none;
    }

    .burger {
        display: block;
    }

    .close {
        display: block;
    }
    .col-xl-6 p{
        font-size: medium;       
    }
    
    .col-6 p{
        font-size: medium;        
    }

    .projectPics {
        width: 130px;
    }
    .lead{
        font-size: 20px;
    }

    h1{
        font-size: 23px;
    }

}
  